@{
    ViewBag.Title = "WheelCreate";
    Layout = "~/Views/Shared/_WheelLayout.cshtml";
}

@model EasyWeixin.Web.Models.WheelViewModel
<script type="text/javascript" src="~/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript">
    //
    //自定义编辑器
    //设置图片可以上传
    KindEditor.ready(function (K) {
        var editor1 = K.create('#Content', {
            cssPath: '../plugins/code/prettify.css',
            uploadJson: '/ResponseImageText/upload_json',
            fileManagerJson: '/ResponseImageText/file_manager_json',
            allowFileManager: true,
            allowImageUpload: true,
            items: [
                'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                'insertunorderedlist', '|', 'emoticons', 'image', 'link'],
            afterCreate: function () {
                var self = this;
                K.ctrl(document, 13, function () {
                    self.sync();
                    K('form')[0].submit();
                });
                K.ctrl(self.edit.doc, 13, function () {
                    self.sync();
                    K('form')[0].submit();
                });
            }
        });
        prettyPrint();
    });
    //
    //自定义编辑器
    //设置图片可以上传
    KindEditor.ready(function (K) {
        var editor1 = K.create('#WheelDesc', {
            cssPath: '../plugins/code/prettify.css',
            uploadJson: '/ResponseImageText/upload_json',
            fileManagerJson: '/ResponseImageText/file_manager_json',
            allowFileManager: true,
            allowImageUpload: true,
            items: [
                'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                'insertunorderedlist'],
            afterCreate: function () {
                var self = this;
                K.ctrl(document, 13, function () {
                    self.sync();
                    K('form')[0].submit();
                });
                K.ctrl(self.edit.doc, 13, function () {
                    self.sync();
                    K('form')[0].submit();
                });
            }
        });
        prettyPrint();
    });
</script>
<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span12">
                <div class="primary-head">
                    <h3 class="page-header">大转盘</h3>
                </div>
                <ul class="breadcrumb">
                    <li><a href="#" class="icon-home"></a><span class="divider "><i class="icon-angle-right"></i></span></li>
                    <li><a href="#">大转盘</a><span class="divider"><i class="icon-angle-right"></i></span></li>
                    <li class="active">活动创建</li>
                </ul>
            </div>
        </div>

        @{ using (Html.BeginForm("WheelCreate", "Wheel"))
           {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="row-fluid">
                <div class="span12">
                    <div class="content-widgets gray">
                        <div class="widget-head bondi-blue">
                            <h3>活动创建</h3>
                        </div>
                        <div class="widget-container">
                            <div class="form-container grid-form form-background">
                                <!-- our error container -->
                                <div class="control-group">
                                    <label class="control-label">活动标题</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.WheelTitle, new { @placeholder = "输入活动标题", @class = "span7" })   @Html.ValidationMessageFor(model => model.WheelTitle, "", new { @style = "color:red" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">活动开始时间</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.StartDate, new { @placeholder = "输入开始时间", @class = "span7", @onClick = "WdatePicker()" })   @Html.ValidationMessageFor(model => model.StartDate, "", new { @style = "color:red" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">活动结束时间</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.EndDate, new { @placeholder = "输入结束时间", @class = "span7", @onClick = "WdatePicker()" })   @Html.ValidationMessageFor(model => model.EndDate, "", new { @style = "color:red" })
                                    </div>
                                </div>
                                   <div class="control-group">
                                    <label class="control-label">概率容量设置</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.WheelScale, new { @placeholder = "概率容量设置", @class = "span7" })   @Html.ValidationMessageFor(model => model.WheelScale, "", new { @style = "color:red" })
                                    </div>
                                </div>
                                  <div class="control-group">
                                    <label class="control-label">每天玩的次数</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.EveryDayTimes, new { @placeholder = "每天玩的次数", @class = "span7" })   @Html.ValidationMessageFor(model => model.EveryDayTimes, "", new { @style = "color:red" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">活动说明</label>
                                    <div class="controls">
                                        @Html.TextAreaFor(model => model.WheelDesc, new { @style = "width: 700px; height: 200px;", @id = "WheelDesc", })@Html.ValidationMessageFor(model => model.WheelDesc, "", new { @style = "color:red" })
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">创建图文内容</label>
                                    <div class="controls">
                                        @Html.TextAreaFor(model => model.ResponseImageTextViewModel.Content, new { @style = "width: 700px; height: 200px;", @id = "Content", }) @Html.ValidationMessageFor(model => model.ResponseImageTextViewModel.Content, "", new { @style = "color:red" })
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-extend">提交</button>
                                    @Html.ActionLink("返回列表", "WheelIndex", new { }, new { @class = "btn btn-extend" })
                                </div>
                                <div class="error-container">
                                    <h4></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           }
        }
    </div>
</div>