@{
    ViewBag.Title = "ScratchItemIndex";
    Layout = "~/Views/Shared/_ScratchLayout.cshtml";
}

@using EasyWeixin.Core.MvcPager
@model List<EasyWeixin.Model.ScratchItem>
<link href="@Url.Content("~/js/jquery.artDialog/skins/blue.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/js/jquery.artDialog/jquery.artDialog.js")"  type="text/javascript" ></script>
<script src="@Url.Content("~/js/jquery.artDialog/jquery.artDialog.source.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/js/jquery.artDialog/artDialog.iframeTools.js")" type="text/javascript" ></script>
<script type="text/javascript">
    //自定义编辑器
    //设置图片可以上传
    $(document).ready(function () {
        $(".table").on("click", ".ScratchItemEdit", function () {
            var title = "刮刮乐子项编辑";
            var ID = $(this).parent().find(".ID").val();
            var ScratchID = $(this).parent().find(".ScratchID").val();
            var tr = $(this).parent().parent();
            art.dialog.open('/Scratch/ScratchItemEdit?ID=' + ID + '&ScratchID=' + ScratchID, {
                title: title,
                width: '650px',
                height: '280px',
                lock: true,
                ok: function () {
                    var d = this.iframe.contentWindow;
                    var ScratchItemName = d.document.getElementById('ScratchItemName').value;
                    var ScratchItemScale = d.document.getElementById('ScratchItemScale').value;
                    var ScratchItemAward = d.document.getElementById('ScratchItemAward').value;
                    var ScratchItemID = d.document.getElementById('ScratchItemID').value;
                    var ScratchID = d.document.getElementById('ScratchID').value;
                    $.post('/Scratch/ScratchItemEdit', { ScratchItemName: ScratchItemName, ScratchItemScale: ScratchItemScale, ScratchItemAward: ScratchItemAward, ScratchID: ScratchID, ScratchItemID: ScratchItemID })
                    tr.find("td:eq(0)").html(ScratchItemName);
                    tr.find("td:eq(1)").html(ScratchItemScale);
                    tr.find("td:eq(2)").html(ScratchItemAward);
                },
                cancel: true
            });

        })
        $(".ScratchItemAdd").click(function () {
            var title = "刮刮乐子项添加";
            var table = $(".table tbody");
            var ScratchID =@(Request["ScratchID"])
            art.dialog.open('/Scratch/ScratchItemEdit?ScratchID=' + ScratchID, {
                title: title,
                width: '650px',
                height: '280px',
                lock: true,
                ok: function () {
                    var d = this.iframe.contentWindow;
                    var ScratchItemName = d.document.getElementById('ScratchItemName').value;
                    var ScratchItemScale = d.document.getElementById('ScratchItemScale').value;
                    var ScratchItemAward = d.document.getElementById('ScratchItemAward').value;
                    $.post('/Scratch/ScratchItemEdit', { ScratchItemName: ScratchItemName, ScratchItemScale: ScratchItemScale, ScratchItemAward: ScratchItemAward, ScratchID: ScratchID }, function (data) {
                        var html = "<tr><td>" + data.ScratchItemName + "</td><td>" + data.ScratchItemScale + "</td>";
                        html += "<td>" + data.ScratchItemAward + "</td><td>" + ChangeDateFormat(data.AddDate) + "</td><td>";
                        html += "<input type='hidden' value='" + data.ID + "'  class='ID' />"
                        html += "<input type='hidden' value='" + data.ScratchID + "'  class='ScratchID' />";
                        html += "<a href='javascript:void(0)' class='ScratchItemEdit'>修改</a>";
                        html += "<a href='/Scratch/ScratchItemDelete/" + data.ID + "' class='ScratchItemEdit'>删除</a>";
                        html += "</td></tr>";
                        table.append(html);
                    });
                },
                cancel: true
            });

        })
        function ChangeDateFormat(cellval) {
            try {
                var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours();
                var minute = date.getMinutes();
                var second = date.getSeconds();
                return date.getFullYear() + "/" + month + "/" + currentDate + " " + hour + ":" + minute + ":" + second;
            } catch (e) {
                return "";
            }
        }
    });
</script>
<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span12">
                <div class="primary-head">
                    <h3 class="page-header">刮刮乐</h3>
                </div>
                <ul class="breadcrumb">
                    <li><a href="#" class="icon-home"></a><span class="divider "><i class="icon-angle-right"></i></span></li>
                    <li><a href="/Scratch/ScratchIndex">刮刮乐</a><span class="divider"><i class="icon-angle-right"></i></span></li>
                    <li><a href="/Scratch/ScratchIndex">活动列表</a> <span class="divider"><i class="icon-angle-right"></i></span></li>
                     <li class="active">子项设置</li>
                </ul>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="content-widgets light-gray">
                    <div class="widget-head bondi-blue">
                        <h3>子项列表</h3>
                    </div>
                    <div class="widget-container">
                        <div class="form-horizontal">
                            <div class="control-group">
                                <div class="controls">
                                    <a id="ScratchItemAdd" class="btn ScratchItemAdd" href="javascript:viod(0)"><i class="icon-upload-alt"></i>添加</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-container">
                        <table class="table table-hover responsive">
                            <thead>
                                <tr>
                                    <th>标题
                                    </th>
                                    <th>名额
                                    </th>
                                    <th>奖品
                                    </th>
                                    <th>添加时间
                                    </th>
                                    <th>编辑
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{foreach (var item in Model)
                                  {
                                    <tr>
                                        <td>
                                            @item.ScratchItemName
                                        </td>
                                        <td>
                                            @item.ScratchItemScale
                                        </td>
                                        <td>
                                            @item.ScratchItemAward
                                        </td>
                                        <td>
                                            @item.AddDate
                                        </td>
                                        <td>
                                            <input type="hidden" value="@item.ID" class="ID" />
                                            <input type="hidden" value="@item.ScratchID"  class="ScratchID" />
                                            <a href="javascript:void(0)" class="ScratchItemEdit">修改</a>
                                            @Html.ActionLink("删除", "ScratchItemDelete", new { id = item.ID })
                                        </td>
                                    </tr>
                                  }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>