@{
    ViewBag.Title = "FightItemIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using EasyWeixin.Core.MvcPager
@model EasyWeixin.Core.MvcPager.PagedList<EasyWeixin.Model.FightItem>

<link href="@Url.Content("~/js/jquery.artDialog/skins/blue.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/js/jquery.artDialog/jquery.artDialog.js")"  type="text/javascript" ></script>
<script src="@Url.Content("~/js/jquery.artDialog/jquery.artDialog.source.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/js/jquery.artDialog/artDialog.iframeTools.js")" type="text/javascript" ></script>
<script type="text/javascript">
    //自定义编辑器
    //设置图片可以上传
    $(document).ready(function () {
        $(".table").on("click", ".FightItemEdit", function () {
            var title = "一战到底问题编辑";
            var ID = $(this).parent().find(".ID").val();
            var FightID = $(this).parent().find(".FightID").val();
            var tr = $(this).parent().parent();
            art.dialog.open('/Fight/FightItemEdit?ID=' + ID + '&FightID=' + FightID, {
                title: title,
                width: '650px',
                height: '280px',
                lock: true,
                ok: function () {
                    var d = this.iframe.contentWindow;
                    var FightItemName = d.document.getElementById('FightItemName').value;
                    var FightItemTrueAnswer = d.document.getElementById('FightItemTrueAnswer').value;
                    var FightItemAnswers = d.document.getElementById('FightItemAnswers').value;
                    var FightItemID = d.document.getElementById('FightItemID').value;
                    var FightID = d.document.getElementById('FightID').value;
                    $.post('/Fight/FightItemEdit', { FightItemName: FightItemName, FightItemTrueAnswer: FightItemTrueAnswer, FightItemAnswers: FightItemAnswers, FightID: FightID, FightItemID: FightItemID })
                    tr.find("td:eq(0)").html(FightItemName);
                    tr.find("td:eq(1)").html(FightItemAnswers);
                    tr.find("td:eq(2)").html(FightItemTrueAnswer);
                },
                cancel: true
            });

        })
        $(".FightItemAdd").click(function () {
            var title = "一战到底问题添加";
            var table = $(".table tbody");
            var FightID =@(Request["FightID"])
            art.dialog.open('/Fight/FightItemEdit?FightID=' + FightID, {
                title: title,
                width: '650px',
                height: '280px',
                lock: true,
                ok: function () {
                    var d = this.iframe.contentWindow;
                    var FightItemName = d.document.getElementById('FightItemName').value;
                    var FightItemTrueAnswer = d.document.getElementById('FightItemTrueAnswer').value;
                    var FightItemAnswers = d.document.getElementById('FightItemAnswers').value;
                    $.post('/Fight/FightItemEdit', { FightItemName: FightItemName, FightItemTrueAnswer: FightItemTrueAnswer, FightItemAnswers: FightItemAnswers, FightID: FightID }, function (data) {
                        location.href = location.href;
                        //var html = "<tr><td>" + data.FightItemName + "</td><td>" + data.FightItemAnswers + "</td>";
                        //html += "<td>" + data.FightItemTrueAnswer + "</td><td>" + ChangeDateFormat(data.AddDate) + "</td><td>";
                        //html += "<input type='hidden' value='" + data.ID + "'  class='ID' />"
                        //html += "<input type='hidden' value='" + data.FightID + "'  class='FightID' />";
                        //html += "<a href='javascript:void(0)' class='FightItemEdit'>修改</a>";
                        //html += "<a href='/Fight/FightItemDelete/" + data.ID + "' class='FightItemEdit'>删除</a>";
                        //html += "</td></tr>";
                        //table.append(html);
                    });
                },
                cancel: true
            });

        })
        function ChangeDateFormat(cellval) {
            try {
                var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours();
                var minute = date.getMinutes();
                var second = date.getSeconds();
                return date.getFullYear() + "/" + month + "/" + currentDate + " " + hour + ":" + minute + ":" + second;
            } catch (e) {
                return "";
            }
        }
    });
</script>
<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span12">
                <div class="primary-head">
                    <h3 class="page-header">一战到底</h3>
                    <ul class="top-right-toolbar">
                        <li><a data-toggle="dropdown" class="dropdown-toggle blue-violate" href="#" title="Users"><i class="icon-user"></i></a>
                        </li>
                        <li><a href="#" class="green" title="Upload"><i class=" icon-upload-alt"></i></a></li>
                        <li><a href="#" class="bondi-blue" title="Settings"><i class="icon-cogs"></i></a></li>
                    </ul>
                </div>
                <ul class="breadcrumb">
                    <li><a href="#" class="icon-home"></a><span class="divider "><i class="icon-angle-right"></i></span></li>
                    <li><a href="#">一战到底</a><span class="divider"><i class="icon-angle-right"></i></span></li>
                    <li><a href="/Scratch/ScratchIndex">活动列表</a> <span class="divider"><i class="icon-angle-right"></i></span></li>
                    <li class="active">子项设置</li>
                </ul>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="content-widgets light-gray">
                    <div class="widget-head bondi-blue">
                        <h3>子项列表</h3>
                    </div>
                    <div class="widget-container">
                        <div class="form-horizontal">
                            <div class="control-group">
                                <div class="controls">
                                    <a id="FightItemAdd" class="btn FightItemAdd" href="javascript:viod(0)"><i class="icon-upload-alt"></i>添加</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-container">
                        <table class="table table-hover responsive">
                            <thead>
                                <tr>
                                    <th>问题名称
                                    </th>
                                    <th>答案
                                    </th>
                                    <th>正确答案
                                    </th>
                                    <th>添加时间
                                    </th>
                                    <th>编辑
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{foreach (var item in Model)
                                  {
                                    <tr>
                                        <td>
                                            @item.FightItemName
                                        </td>
                                        <td>
                                            @item.FightItemAnswers
                                        </td>
                                        <td>
                                            @item.FightItemTrueAnswer
                                        </td>
                                        <td>
                                            @item.AddDate
                                        </td>
                                        <td>
                                            <input type="hidden" value="@item.ID" class="ID" />
                                            <input type="hidden" value="@item.FightID"  class="FightID" />
                                            <a href="javascript:void(0)" class="FightItemEdit">修改</a>
                                            @Html.ActionLink("删除", "FightItemDelete", new { id = item.ID })
                                        </td>
                                    </tr>
                                  }
                                }
                            </tbody>
                        </table>
                              <div>
                            <div style="width: 500px; float: right">
                                @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "pageid", CssClass = "pagination dataTables_paginate" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>