@{
    ViewBag.Title = "EditPersonalPassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model EasyWeixin.Web.Models.PasswordViewModel

<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span12">
                <div class="primary-head">
                    <h3 class="page-header">个人中心</h3>
                    <ul class="top-right-toolbar">
                    </ul>
                </div>
                <ul class="breadcrumb">
                    <li><a href="#" class="icon-home"></a><span class="divider "><i class="icon-angle-right"></i></span></li>
                    <li><a href="#">个人中心</a><span class="divider"><i class="icon-angle-right"></i></span></li>
                    <li class="active">个人信息更改</li>
                </ul>
            </div>
        </div>
        <div class="form-horizontal">
            @{ using (Html.BeginForm("EditPersonalPassword", "PersonalCenter"))
               {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="row-fluid">
                    <div class="span12">
                        <div class="content-widgets gray">
                            <div class="widget-head bondi-blue">
                                <h3>个人信息更改</h3>
                            </div>
                            <div class="widget-container">
                                <div class="form-container grid-form form-background">
                                    <!-- our error container -->
                                    <div class="control-group">
                                        <label class="control-label">当前密码</label>
                                        <div class="controls">
                                            @Html.PasswordFor(model => model.OldPassword, new { @placeholder = "当前密码", @class = "span7" })                                                           @Html.ValidationMessageFor(model => model.OldPassword, "", new { @style = "color:red" })
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">新密码</label>
                                        <div class="controls">
                                            @Html.PasswordFor(model => model.NewPassword, new { @placeholder = "新密码", @class = "span7" })
                                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @style = "color:red" })
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">确定密码</label>
                                        <div class="controls">
                                            @Html.PasswordFor(model => model.ConfirmPassword, new { @placeholder = "确定密码", @class = "span7" })                                             @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @style = "color:red" })
                                        </div>
                                    </div>

                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-extend">提交</button>
                                        <a style="color: red;">@ViewData["SuccessMessage"]</a>
                                    </div>
                                    <div class="error-container">
                                        <h4></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               }
            }
        </div>
    </div>
</div>