@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using System;
@model List<EasyWeixin.Model.ResponseImageText>
<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span12">
                <div class="primary-head">
                    <h3 class="page-header">图文管理</h3>
                @*    <ul class="top-right-toolbar">
                        <li><a data-toggle="dropdown" class="dropdown-toggle blue-violate" href="#" title="Users"><i class="icon-user"></i></a>
                        </li>
                        <li><a href="#" class="green" title="Upload"><i class=" icon-upload-alt"></i></a></li>
                        <li><a href="#" class="bondi-blue" title="Settings"><i class="icon-cogs"></i></a></li>
                    </ul>*@
                </div>
                <ul class="breadcrumb">
                    <li><a href="#" class="icon-home"></a><span class="divider "><i class="icon-angle-right"></i></span></li>
                    <li><a href="#">图文管理</a><span class="divider"><i class="icon-angle-right"></i></span></li>
                    <li class="active">图文列表 </li>
                </ul>
            </div>
        </div>
        @*      @Html.ActionLink("添加权限", "Create", new { }, new { @class = "btn btn-extend" })*@
        <div class="row-fluid">
            <div class="span12">
                <div class="content-widgets light-gray">
                    <div class="widget-head bondi-blue">
                        <h3>图文列表</h3>
                    </div>
                    <div class="widget-container">

                        <table class="table table-hover responsive">
                            <thead>
                                <tr>

                                    <th>图片
                                    </th>
                                    <th>图文标题
                                    </th>
                                    <th>创建时间
                                    </th>
                                    <th>修改
                                    </th>
                                    <th>删除
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{foreach (var item in Model)
                                  {
                                    <tr>
                                       <td style="height: 100px; width: 180px">
                                                                                            <img src="@item.PicUrl" style="height: 100px;width: 180px" />
                                                                                        </td>
                                        <td>
                                            @item.ImageTextName
                                        </td>
                                        <td>
                                        @item.AddTime.ToString()
                                        </td>
                                        <td>
                                            @Html.ActionLink("修改", "Edit", new { id = item.ID })
                                        </td>
                                        <td>
                                            @Html.ActionLink("删除", "Delete", new { id = item.ID }, new { onclick = "return confirm('确认删除？')" })
                                        </td>
                                    </tr>
                                  }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>