@{
    ViewBag.Title = "调查结果";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model EasyWeixin.Web.Models.SurveyViewModel

<link rel="stylesheet" href="/js/kindeditor-4.1.7/plugins/code/prettify.css" />
<script charset="utf-8" src="/js/kindeditor-4.1.7/plugins/code/prettify.js"></script>
<script charset="utf-8" src="/js/kindeditor-4.1.7/kindeditor.js"></script>
<script charset="utf-8" src="/js/kindeditor-4.1.7/lang/zh_CN.js"></script>
<link href="@Url.Content("~/js/jquery.artDialog/skins/blue.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/js/jquery.artDialog/jquery.artDialog.js")"  type="text/javascript" ></script>
<script src="@Url.Content("~/js/jquery.artDialog/jquery.artDialog.source.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/js/jquery.artDialog/artDialog.iframeTools.js")" type="text/javascript" ></script>
<script type="text/javascript" src="~/js/My97DatePicker/WdatePicker.js"></script>
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="/js/bootstrap-colorpicker.js"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/date.js"></script>
<script src="/js/daterangepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $(".btn-primary").click(function () {
            window.location.href = "/Questionnaire/SetQuestionDrawing?id=@(Model.SetQuestionID)&Ischeck=1&dt1=" + $("#dt1").val() + "&dt2=" + $("#dt2").val();
        });

        $(".btn-primary1").click(function () {
            window.location.href = "/Questionnaire/SetQuestionDrawing?id=@(Model.SetQuestionID)";
         });

    });
    $(function () {
        $('#datetimepicker1').datetimepicker({
            pickTime: true
        });
    });

    $(function () {
        $('#datetimepicker2').datetimepicker({
            pickTime: true
        });
    });
</script>
<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span12">
                <div class="primary-head">
                    <h3 class="page-header">调查结果</h3>
                    <ul class="top-right-toolbar">
                        <li><a data-toggle="dropdown" class="dropdown-toggle blue-violate" href="#" title="Users"><i class="icon-user"></i></a>
                        </li>
                        <li><a href="#" class="green" title="Upload"><i class=" icon-upload-alt"></i></a></li>
                        <li><a href="#" class="bondi-blue" title="Settings"><i class="icon-cogs"></i></a></li>
                    </ul>
                </div>
                <ul class="breadcrumb">
                    <li><a href="#" class="icon-home"></a><span class="divider "><i class="icon-angle-right"></i></span></li>
                    <li><a href="javascript:history.go(-1);">问题列表</a><span class="divider"><i class="icon-angle-right"></i></span></li>
                    <li class="active">活动列表 </li>
                </ul>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="content-widgets light-gray">
                    <div class="widget-head bondi-blue">
                        <h3>调查结果</h3>
                    </div>
                    <div class="widget-container">
                        <div>
                            <span style="font-size: 14px;">
                                @Model.qName &nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:history.back(1);" style="color: Red;">返 回</a>
                            </span>
                        </div>
                        <div class="control-group">
                            @{ string dt1, dt2;
                               dt1 = Request["dt1"] != null ? Request["dt1"] : System.DateTime.Now.ToString("yyyy-MM-dd");
                               dt2 = Request["dt2"] != null ? Request["dt2"] : System.DateTime.Now.ToString("yyyy-MM-dd");
                            }
                            <div class="controls">
                                开始时间
            <div id="datetimepicker1" class="input-append">
                <input data-format="yyyy-MM-dd" type="text" value="@dt1" id="dt1"><span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-calendar"></i></span>
            </div>
                                结束时间
            <div id="datetimepicker2" class="input-append">
                <input data-format="yyyy-MM-dd" type="text" value="@dt2" id="dt2"><span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-calendar"></i></span>
            </div>
                                <a class="btn btn-primary" href="javascript:void(0)"><i class="icon-upload-alt"></i>时间查询</a>
                                <a class="btn btn-primary1" href="javascript:void(0)"><i class="icon-upload-alt"></i>全部查询</a>
                            </div>
                        </div>
                        <div><b style="color: Green;">问题答案提交人数：@Model.answerCount<label id="lblCount" ></label></b></div>
                        @if (Model.AType >= 0)
                        {
                            <div style="width: 1000px">
                                <ul>
                                    @foreach (var item in Model.qlist)
                                    {
                                        <li id="litAnswer">@item.dName ： @item.iName (@item.per)</li>
                                    }
                                </ul>
                            </div>
                        }
                        else
                        {
                            <div style="width: 900px">
                                <ul>
                                    @for (int i = 0; i < Model.slist.Count; i++)
                                    {
                                        <li>建议@(i + 1): @Model.slist[i].Suggestion</li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>